@media (max-width:1024px){
.chfooter p:nth-of-type(2) {
margin-left: 30%;

}

.firstdiv button:nth-of-type(2) {
left: 350px;
top: 639px;
}
.firstdiv button:nth-of-type(1) {
left: 315px;
top: 639px;
}
#divBackg {display: none;}
.div2cs {
width: 60%;
position: static;
flex-direction: column;
margin-left: 10pc;
height: 700px;
}
#gb {

justify-content: center;
flex-direction: column;
width: 100%;
height: 1200px;
margin-top: 10pc;
}
.ddcenter {
margin-top: 50px;
}
.ddcenter h1 {
font-size: 25px;
}
.ddcenter p {
font-size: 15px;    
margin-left: 15pc;
}
.div1gb div:first-child {
height: 500px;
width: 50%;
margin-left: 20%;
}
.childs {
width: 50%;
margin-top: 5pc;
}
#h1h {
margin: 55px 0px 0px 375px;
font-size: 20px;
}
.div1gb div:nth-of-type(2) p {
font-size: 13px;
text-align: center;
}
    #chgb1c {
    
        height: 430px;
        background-position: center;
    }
    .drow {
  
        height: 400px;
  width: 67%;
  left: 15%;
    }
    #im1g {
        height: 280px;
    }
    #im2g {
        height: 107px;
    }
    #im3g {
        height: 145px;
    }
    #im4g {
        height: 240px;
    }
    #backgdiv {
        top: 140pc;
    }
    #backgdiv div:nth-of-type(1) {
        left: 0pc;
    }
    #backgdiv div:nth-of-type(1) h1 {
        left: 20pc;
        top: 0px;
    }
    #backgdiv div:nth-of-type(1) p {
  
        left: 0pc; 
        font-size: 12px;
        top: 0px; 
        width: 290px;
        margin: 20px 320px auto;
    }
    #backgdiv div:nth-of-type(1) input {
        width: 338px;
height: 26px;
margin-left: 140px;
}
    #backgdiv div:nth-of-type(1) button {
width: 150px;
height: 25px;
font-size: 15px;
}
    
    
    .firstdiv button {
        top: -70px;
    }
    #div2child #div2ch {
        top: 0px;
    }
    #div1ch {
height: 310px;
width: 100%;
background-position: center;
}
    #divgroups {
        width: 85%;
    }
    #div2child div:last-child #btn1 {
      
        left: 20pc;
    }
    
    #label1{
        display: block;
        }
        #label1 img:nth-of-type(2){
            display: none;
        }
        #label1 img:nth-of-type(1) {
position: fixed;
left: 20px;
top: 10px;
z-index: 12;
}
#checkOne:not(:checked) ~  ul #li1 {
display: block;
list-style-type: none;
margin-left: 20px;
position: relative;
left: 20pc;
}
#checkOne:not(:checked) ~  ul li {
display: none;
}
        #checkOne:checked ~  #label1 img:nth-of-type(1){
            display: none;
        }
        #checkOne:checked ~ ul {
         flex-direction: column;
         background-color: #4D494A;
        position: fixed;
        max-height: 307px;
        z-index: 1;
        width: 100%;
        top: 0px;
        }
        #checkOne:checked ~  ul li{
        text-align: center;
        border-bottom: 1px solid white;
        }
        #checkOne:checked ~  ul #ls{
        margin-left: 0px;
        }
        #checkOne:checked ~ #label1 img:last-child {
                display: inline;
                z-index: 3;
                position: fixed;
                left: 20px;
                top: 10px;
        }
        #checkOne:not(:checked) ~  ul {
background-color: #4D494A;
height: 34px;
position: fixed;
top: 0px;
width: 100%;
z-index: 10;
        }
        #label1 img:last-child {
            z-index: 1;
        }
        li:nth-of-type(2), li:nth-of-type(3) {
            display: none;
        }
        .divsfooter div:nth-of-type(1) h1 {
            left: 10%;
        }
        .divsfooter div:nth-of-type(1) P {
            left: 10%;
        }
        .divsfooter div:nth-of-type(1) span {
            margin-top: 10px;
        }
        #dfooter4 h1 {
            left: 5pc;
        }
        #dfooter4 p {
            left: 5pc;
          
        }
        #dfooter4 pre {
            left: 5pc;
          
        }
        #f1 #dfooter1 {
     left: 15%;
    }
    #f1 #dfooter2 {
        left: 15%;
       }
       #f1 #dfooter3 {
        left: 15%;
       }
       #f1 #dfooter4 {
        left: 15%;
       }
       #btns1 {
display: block;
left: 43pc;
top: 228%;
}
#btns2 {
display: block;
left: 46pc;
top: 228%;
    }
    #divback {
        margin-top: 3pc;
        height: 170px;
        top: 0%;
    }
    .divmove div {
        width: 16%;
        height: 108px;
        margin-left: 5px;
    }
    #movediv2 {
height: 108px;
top: 709%;
}
    .divmove2 div {
        width: 16%;
}
#backgdiv {
    top: 100pc;
}
}
/*///////////*/


@media (min-width: 768px) and (max-width:1022px){
    #dbody {
    height: 310px;
    flex-direction: column;
    }
    #listImgs {
    width: 100%;
    height: 250px;
    }
    .firstdiv {
    margin: 200px 0 0 49px;
    text-align: center;
    }
    .firstdiv button:nth-of-type(1) {
    left: 20px;
    }
    .firstdiv button:nth-of-type(2) {
    left: 60px;
    }
    #conténer {
    height: 700px;
    margin-top: 30px;
    }
    .div2cs {
    width: 60%;
    flex-direction: column;
    margin-left: 12pc;
    height: 700px;
    }
    #btns1 {
        left: 72%;
    }
    #btns2 {
        left: 77%;
    }
    .div1gb div:first-child {
    margin-left: 30%;
    }
    #h1h {
    margin: 55px 0px 0px 280px;
    }
    #chgb1c {
    margin-left: 3pc;
    }
    #hspan {
    margin-left: 0px;
    }
    #btn5 {
    font-size: 15px;
    margin: 56px 90px;
    }
    .ddcenter p {
    margin-left: 7pc;
    }
    .drow {
    height: 300px;
    }
    #im1g {
    height: 210px;
    }
    #im2g {
    height: 80px;
    }
    #im3g {
    height: 120px;
    }
    #im4g {
    height: 170px;
    }
    #movediv2 {
    height: 108px;
    top: 723%;
    }
    .divsfooter {
    margin-top: 3pc;
    
    }
    .divsfooter div:nth-of-type(1) P {
    width: auto;
    }
    .divsfooter div:nth-of-type(1) span {
    margin-top: 10px;
    }
    .chfooter p:nth-of-type(1) {
    margin: 10px 0px 0px 70px;
    }
    .chfooter p:nth-of-type(2) {
    margin-left: 20%;
    }
    #im1gg{
        height: 220px;
    }
    #im2gg{
    height: 78px;
    }
    #im3gg {
    height: 120px;
    }
    #im4gg {
    height: 177px;
    }
    }

    /*///////////////////////*/


    @media (min-width: 320px) and (max-width:500px){
        #child2 {
        
        left: 15px;
        }
        #child2 h1 {
        font-size: 20px;
        }
        #child2 button {
        padding: 15px 20px;
        }
        #dbody {
        height: 200px;
        }
        #listImgs {
        height: 100px;
        top: 93%;
        width: 100%;
        
        }
        #conténer {
             height: auto;
            margin-top: 100px;
        }
        .firstdiv {
        margin: 50px 0 0 60px;
        }
        .firstdiv button{
        display: none;
        }
        .div2cs {
        width: 80%;
        margin-left: 1pc;
        
        }
        #div2child div:nth-of-type(2) h1 {
        font-size: 20px;
        margin: 20px 10px 17px auto;
        }
        #div2child div:nth-of-type(2) p {
        font-size: 12px;
        }
        #divgroups {
        width: 80%;
        margin-top: 50px;
        display: flex;
        }
        
        #div2child div:last-child #btn1 {
        margin: 60px 0px auto 150px;
        }
        #btns1,#btns2{
        display: none;
        }
        #gb {
        margin-top: 5%;
        }
        .div1gb div:first-child {
        margin-left: 6%;
        width: 80%;
        }
        #h1h {
        margin: 55px 0px 0px 20px;
        }
        .chgb1 {
        flex-direction: column;
        }
        #chgb1c {
        margin-left: 1pc;
        width: 100%;
        height: 350px;
        }
        .childs {
        width: 100%;
        margin-top: 0px;
        }
        
        .ddcenter p {
        margin-left: 1pc;
        font-size: 15px;
        width: 290px;
        }
        .div1gb div:nth-of-type(2) p {
        font-size: 15px;
        }
        #btn5 {
        font-size: 12px;
        margin: 30px 90px;
        }
        .drow {
        height: 165px;
        margin-left: 25px;
        width: 89%;
        }
        #im1g {
        height: 116px;
        }
        #im2g {
        height: 40px;
        }
        #im3g {
        height: 55px;
        }
        #im4g {
        height: 100px;
        }
        .div1back h1 {
        font-size: 25px;
        }
        #divback {
        margin-top: 1pc;
        }
        .divmove div {
        width: 16%;
        height: 40px;
        margin-left: 5px;
        }
        .divl {
        height: 45px;
        margin-top: 0px;
        }
        #backgdiv div:nth-of-type(1) h1 {
        font-size: 15px;
        margin-left: -112px;
        }
        #backgdiv div:nth-of-type(1) p {
        left: 7pc;
        font-size: 8px;
        top: 0px;
        width: 193px;
        margin: -12px 50px auto;
        }
        #backgdiv div:nth-of-type(1) input {
        width: 162px;
        height: 13px;
        margin-left: 40px;
        }
        #backgdiv div:nth-of-type(1) button {
        width: 90px;
        height: 15px;
        font-size: 10px;
        }
        .divsfooter {
        margin-left: 0pc;
        height: 800px;
        flex-direction: column;
        }
        .divsfooter div {
        width: 100%;
        margin-top: 20px;
        text-align: center;
        margin-left: 2pc;
        }
        .divsfooter div:nth-of-type(1) P {
        width: 80%;
        }
        .chfooter p:nth-of-type(1) {
        margin: 55px 0px 22px 29px;
        font-size: 15px;
        }
        .chfooter p:nth-of-type(2) {
        margin-left: 10%;
        position: absolute;
        }
        .chfooter p:nth-of-type(2) span {
        margin-right: 20px;
        }
        #checkOne:not(:checked) ~ ul #li1 {
        margin-left: -215px;
        }
        
        /*galry*/
        #ddrow {
             margin-top: 0px; 
            width: 90%;
            flex-direction: column;
             margin-left: 1%; 
        }
        #dcol1,#dcol2 {
            margin-left: 10px;
            display: flex;
            width: 100%;
            height: 76px;
        
        }
        #dcol3,#dcol4{
            height: auto;
            width: 100%;
            margin-left: 10px;
            display: flex;
        } 
        #dcol1 div,#dcol2 div {
            width: 32%;
            margin-left: 10px;
            height: auto;
        
        }
        #dcol3 div,#dcol4 div {
            width: 50%;
            margin-left: 10px;
        }
        #dcol4 div {
            width: 48%;
            margin-left: 10px;
        }
        #dcol3 #collm1{
            height: 215px;
        }
        #dcol3 #collm2{
            height: 83px;
        }
        #dcol4 #colm2 {
            height: 275px;
            position: absolute;
            left: 50%;
            top: 158%;
            width: 125px;
            margin-left: 7px;
            background-position: center;
        }
        #colm1{
            height: 144px;
        }
        }



        @media (min-width:500px) and (max-width:766px){
            .div2cs {
                margin-left: 5pc;
                width: 80%;
            }
            #div2child div:last-child #btn1 {
                margin: 50px 0px auto 290px;
        }
        
        #btns1 {
           display: none;
        }
        #btns2 {
           display: none;
        }
        .div1gb div:first-child {
            margin-left: 15%;
            width:75%;
        }
        #h1h {
            margin: 30px 0px 0px 170px;
            font-size: 25px;
        }
        .div1gb div:nth-of-type(2) p {
            font-size: 14px;
            margin-left: 125px;
        }
        #chgb1c {
            height: 310px;
        }
        #hspan h1 {
            font-size: 18px;
            margin-top: 5px;
        }
        .div1gb div:nth-of-type(2) p {
            font-size: 15px;
            margin-left: 15px;
        }
        #btn5 {
            font-size: 14px;
            margin: 30px 20px 0 37px;
            width: 160px;
        }
        .ddcenter {
            margin-top: 0px;
        }
        #im2g {
            height: 60px;
        }
        #im4g {
            height: 150px;
        }
        .divmove div {
            height: 70px;
        }
        #backgdiv div:nth-of-type(1) input {
            width: 230px;
            margin-left: 60px;
        }
        #backgdiv div:nth-of-type(1) p {
           
            width: 300px;
            margin-left: 128px;
            font-size: 14px;
        }
        .divsfooter {
            height: auto;
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-left: 0px;
        }
        .divsfooter div {
            width: 80%;
            margin-top: 30px;
        }
        .chfooter {
            flex-direction: column;
            justify-content: center;
            margin-top: 40px;
        }
        .chfooter p:nth-of-type(1) {
            margin: 10px 0px 0px 150px;
        }
        .chfooter p:nth-of-type(2) {
            margin-left: 30%;
        }
        .ddcenter p {
            margin-left: 5%;
        }
        }
        @media (min-width:500px) and (max-width:590px){
        #im1g {
            height: 140px;
        }
        #im2g {
            height: 44px;
        }
        #im4g {
            height: 115px;
        }
        #im3g {
            height: 68px;
        }
        }
        @media (min-width:1024px) and (max-width:1190px){
            #label1{
                display: block;
                }
                #label1 img:nth-of-type(2){
                    display: none;
                }
                #label1 img:nth-of-type(1) {
        position: fixed;
        left: 20px;
        top: 10px;
        z-index: 12;
        }
        #checkOne:not(:checked) ~  ul #li1 {
        display: block;
        list-style-type: none;
        margin-left: 20px;
        position: relative;
        left: 20pc;
        }
        #checkOne:not(:checked) ~  ul li {
        display: none;
        }
                #checkOne:checked ~  #label1 img:nth-of-type(1){
                    display: none;
                }
                #checkOne:checked ~ ul {
                 flex-direction: column;
                 background-color: #4D494A;
                position: fixed;
                max-height: 307px;
                z-index: 1;
                width: 100%;
                top: 0px;
                }
                #checkOne:checked ~  ul li{
                text-align: center;
                border-bottom: 1px solid white;
                }
                #checkOne:checked ~  ul #ls{
                margin-left: 0px;
                }
                #checkOne:checked ~ #label1 img:last-child {
                        display: inline;
                        z-index: 3;
                        position: fixed;
                        left: 20px;
                        top: 10px;
                }
                #checkOne:not(:checked) ~  ul {
        background-color: #4D494A;
        height: 34px;
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 10;
                }
                #label1 img:last-child {
                    z-index: 1;
                }
                li:nth-of-type(2), li:nth-of-type(3) {
                    display: none;
                }
                .divsfooter div:nth-of-type(1) h1 {
                    left: 10%;
                }
        }